.Cont4 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .conatiner {
        background-color: white;
        width: 10rem;

        .content {}
    }
}